<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/styles.css">
    <title>Postgram Login</title>
</head>
<body>

<div class="container">
    <h1>📸 Postgram</h1>

    <form method="post" action="/login">
        <input type="text" name="username" placeholder="Nom d'utilisateur" required />
        <input type="password" name="password" placeholder="Mot de passe" required />

        <input type="hidden"
               th:name="${_csrf.parameterName}"
               th:value="${_csrf.token}" />

        <button type="submit">Se connecter</button>
    </form>

    <div th:if="${param.error}" style="color:red; text-align:center;">
        Identifiants invalides
    </div>
</div>

</body>
</html>